.profile {
  background: #fff;
  width: 270px;
  height: 445px;
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  box-shadow: 5px 5px 2px 1px rgba(128, 128, 128, 0.2);
  margin: 0 auto;
  margin-top: 50px;
}
.description {
  padding: 20px;
  text-align: center;
  color: grey;
}
.avatar {
  border-radius: 50%;
  width: 100px;
  margin-top: 30px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.stats {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.label {
  display: block;
  color: grey;
}

.stats > li {
  width: 33%;
  height: 80px;
  background-color: rgb(250, 249, 249);
  text-align: center;
  padding-top: 30px;
  border: rgb(207, 205, 205) 1px solid;
  border-radius: 0 0 4px 4px;
}

.quantity {
  font-size: 20px;
  font-weight: bold;
}
